/* quick reset so all our padding is the right size */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.calculator input,
.calc-button   {
  font-family: 'Space Mono';
}


* {
    box-sizing: border-box;
  }
  
  /* add some spacing */
  body          {
    background: black;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  
  /* limit the width and center */
  .calculator .formstyle  {
    max-width: 400px;
    margin: 0 auto;
    border: 6px solid orange; 
    border-radius: 5px; /* rounded corners */
  }

  .calc-button  {
    background:black (0, 0, 0, 0.5); /* light background with opacity 50% */
    border: 1px solid black; /* black border */
    padding: 20px;
    color: white; /* white text */
    border-radius: 5px; /* rounded corners */
    font-size: 22px; /* larger fonts */
    cursor: pointer; /* make it look clickable */
  }

  .calculator input   {
    /* reset basic form styles */
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  
    padding: 10px;
    width: 100%;
    border-bottom: 4px solid orange;
    color: white;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
  }


  .calculator-buttons {
    /* small spacing within our container */
    padding: 20px;
  
    /* the grid stuff! */
    display: grid;
  
    /* create 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .calculator-buttons {

  
    /* add the grid gap */
    grid-gap: 15px;
  }


  /* span across 3 columns */
.is-zero,
.is-clear   {
  grid-column: span 3;
}

/* go blue */
.is-clear   {
  background: #3572DB;
}

.is-equals {
    background: #28D060;
  }


 /* .formstyle
{
width: 300px;
height: 330px;
margin: 20px auto;
border: 3px solid skyblue;
border-radius: 5px;
padding: 20px;
text-align: center;
background-color: white;
}*/


.textview{
    width: 400px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: lightgreen;
    }	
        